p, h1, h2, h3,
h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

body, html {
  background-color: transparent;
}

h1, h2, h3, h4, h5, h6, p, a {
  color: #fff;
  font-family: "Geometria";
  font-style: normal;
  font-weight: normal;
}

.noscroll {
  overflow-y: hidden;
}

a, a:active, a:visited {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
}

.burger-wrapper {
	position: relative;
	width: 28px;
	height: 14px;
  cursor: pointer;
}

.burger-1, .burger-2, .burger-3 {
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.burger-1 {
	position: absolute;
	top: 0;
	left: 0;

	width: 17px;
	height: 2px;

	background: #fff;
	border-radius: 50px;
}

.burger-2 {
	position: absolute;
	top: 6px;
	left: 0;

	width: 25.5px;
	height: 2px;


	background: #fff;
	border-radius: 50px;
}

.burger-3 {
	position: absolute;
	top: 12px;
	left: 0;

	width: 31px;
	height: 2px;

	background: #fff;
	border-radius: 50px;
}


.map_wrapper {
	min-height: 100vh;
	position: fixed;
	top: 0px;
	left: -3000px;	
	z-index: 1000;
	width:100%;
	/* transition: right 0.5s ease-in-out; */
	margin-left: 0px;
}

.map_wrapper .row {
  margin-left: 0;
}

.substrate {
	min-height: 100vh;
	background: linear-gradient(to right, rgb(37, 37, 44) 65%, transparent 100%);
	opacity: 0;
}

.map {
	overflow-y: auto;
	padding-top: 50px;
	background-color: rgb(37, 37, 44);
}

.map_title {
  font-family: Neumann;
  text-align: left;
  font-weight: normal;
  font-size: 60px;
  color: #FFFFFF;
  margin-bottom: 75px;
}

.map .row {
	margin-bottom: 30px;
}

.map_container {
	height: 60vh;
}

.map_item {
	font-weight: normal;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin: 12px 0;
  position: relative;
  transition: all ease-in-out 0.5s;
}

.map_item::before {
  content: '';
  position: absolute;
  display: block;
  width: 59px;
  height: 1px;
  background-color: #E2CAA8;
  left: -79px;
  top: calc(50% - 0.5px);
  opacity: 0;
  transition: all ease-in-out 0.5s;
}

.map_item:focus, .map_item:hover, .map_item:hover::before, .map_item:focus::before {
  color: #E2CAA8;
  opacity: 1;
}

.map_item:hover::before {
  content: '';
  position: absolute;
  display: block;
  width: 59px;
  height: 1px;
  background-color: #E2CAA8;
  left: -79px;
  top: calc(50% - 0.5px);
}

.map .btn {
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 10px 34px;
}

.map_close {
	content: url(../img/exit.png);
	width: 33px;
	height: 33px;
  cursor: pointer;
  margin-bottom: 60px;
}

.map_close:hover {
  transform: rotate(180deg);
  transition: all ease-in-out 0.5s;
}

/* main styles */
section {
  padding: 98px 0;
}

.section_title {
  font-family: Neumann;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 65px;
  letter-spacing: 0.03em;
}

.btn {
  padding: 30px 30px 25px;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  border-radius: 100px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  color: #fff!important;
  border: none;
  background: linear-gradient(180deg, #95C09A 0%, #618765 100%);
}

.btn-primary {
  box-shadow: 0px 5px 0px #557458;
}

.btn_small {
  padding: 15px 30px;
  font-weight: 500;
  font-size: 14px;
}

button:focus {
  outline: none;
}

/* form styles */
form {
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.07);
  color: #090909;
  padding: 12px;
  width: 390px;
  border-radius: 20px;
  position: relative;
  z-index: 3;
}

form fieldset {
  border: 1.5px solid #E2CAA8;
  border-radius: 20px;
  padding: 25px 40px;
}

.form_title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
  color: #090909;
}

form hr {
  margin: 0;
  margin-bottom: 20px;
}

.form_socials-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.form_social input {
  display: none;
} 


.form_social label {
  font-weight: normal;
  font-size: 12px;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  text-align: center;
  padding: 12px 9px;
  margin: 5px 0;
  cursor: pointer;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  color: #090909;
}

.work_price .form_social label {
  width: 130px;
}

.form_social label img {
  margin-right: 5px;
  height: 16px;
  width: 16px;
}

.form_social-hover-icon {
  display: none;
}

.form_social label:hover img, .form_social input:checked + label img {
  display: none;
}

.form_social label:hover .form_social-hover-icon, .form_social input:checked + label .form_social-hover-icon {
  display: inline;
}

.form_social label:hover, .form_social input:checked + label {
  color: #fff;
}

.form_social-viber label:hover, .form_social-viber label:active, .form_social-viber label:focus, .form_social-viber input:checked + label {
  border: 1px solid #8E24AA!important;
  background-color: #8E24AA!important;
}

.form_social-telegram label:hover, .form_social-telegram label:active, .form_social-telegram label:focus, .form_social-telegram input:checked + label {
  border: 1px solid #039BE5!important;
  background-color: #039BE5!important;
}

.form_social-whatsapp label:hover, .form_social-whatsapp label:active, .form_social-whatsapp label:focus, .form_social-whatsapp input:checked + label {
  border: 1px solid #4CAF50!important;
  background-color: #4CAF50!important;
}

.form_social-phone label:hover, .form_social-phone label:active, .form_social-phone label:focus, .form_social-phone input:checked + label {
  border: 1px solid #E2CAA8!important;
  background-color: #E2CAA8!important;
}

.form_socials-choised {
  margin-top: 2px;
  margin-left: 3px;
}

.form_socials-choised p {
  font-size: 12px;
  color: #83929A;
}

.form_socials-choised p span {
  color: #E5C883;
  font-size: 13px;
}

.tel_input {
  display: block;
  margin: auto;
  background: #F5F5F5;
  border: 1px solid rgba(179, 179, 179, 0.15);
  box-sizing: border-box;
  padding: 15px 30px 15px 65px;
  border-radius: 1000px;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.105em;
  color: #5f5e5e;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color :#ABABAB;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #ABABAB;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #ABABAB;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #ABABAB;
}

.tel_input:focus, .tel_input:active {
  outline: none;
  border: 1px solid #E2CAA8;
  background: #f5f3f2;
  border-radius: 100px;
}

.form_tel-input-container {
  position: relative;
}

.form_tel-input-container::after {
  display: block;
  position: absolute;
  top: 11px;
  left: 25px;
  content: url(../img/form_icons/tel_input.svg);
  padding: 4.5px 9.5px;
  background: #FFFFFF;
  border-radius: 50%;
}

/* styles for accept input */

.form_accept-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  cursor: pointer;
  font-weight: normal;
  font-size: 11px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.form_accept-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  display: block;
  position: relative;
  height: 19px;
  width: 19px;
  border: 1px solid #E5C883;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.form_accept-container:hover input ~ .checkmark {
  
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.form_accept-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.form_accept-container .checkmark:after {
  width: 15px;
  height: 15px;
  left: 1px;
  top: 1px;
  background-color: #E5C883;
  border-radius: 50%;
  position: relative;
}

.form_accept-container p {
  color: #090909;
}

.form_accept-container p span {
  color: #E5C883;
  border-bottom: 1px dashed #E5C883;
}

/* catalog_brick form styles */

.catalog_brick form {
  background: #2F2E37;
  padding: 0;
}

.catalog_brick fieldset {
  border: none;  
}

.catalog_brick-light fieldset, .catalog_brick fieldset {
  padding: 25px 28px 18px;
}

.catalog_brick-light form, .catalog_brick form {
  width: 100%;
}

.catalog_brick .form_title {
  color: #fff;
}

.catalog_brick hr {
  border-color: rgba(255,255,255,0.1);
}

.catalog_brick .form_social label {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.16);
  padding: 11px 12px;
}

.catalog_brick .tel_input {
  background: #4E4E55;
  border: 1px solid rgba(179, 179, 179, 0.15);
  color: #CEC8C8;
}

.catalog_brick .form_social label, .catalog_brick-light .form_social label {
  padding: 11px 12px;
}

.catalog_brick .tel_input, .catalog_brick-light .tel_input {
  padding: 18px 10px 18px 45px;
}

.catalog_brick .form_tel-input-container::after {
  content: url(../img/form_icons/tel_input-revers.svg);
  background: rgba(255,255,255,0.2);

}

.catalog_brick .form_tel-input-container::after, .catalog_brick-light .form_tel-input-container::after {
  left: 10px;
  top: 13px;
}

.catalog_brick .btn_small, .catalog_brick-light .btn_small {
  font-size: 13px;
}

.catalog_brick .btn_small p, .catalog_brick-light .btn_small p {
  font-size: 7px;
}

.catalog_brick .btn_small p {
  color: rgba(255, 255, 255, 0.7);
}

.catalog_brick .checkmark {
  border-color: rgba(208, 208, 208, 0.36);
}

.catalog_brick .checkmark::after {
  background-color: rgba(208, 208, 208, 0.36);
}

.catalog_brick .form_accept-container p {
  color: #fff;
}

.popover_pluce-container {
  position: absolute;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #D9B577;
  border-radius: 50%;
  padding: 8px;
  transition: ease-in-out 0.5s;
}

.popover_pluce-container.active {
  transform: rotate(45deg);
  border: 1px solid transparent;
}

.popover_pluce-container.active p {
  background: #E8C99B;
}

.popover_pluce-container p {
  color: #595242;
  font-size: 32px;
  font-weight: normal;
  width: 53px;
  height: 53px;
  background: #D9B577;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.popover-body {
  padding: 0;
}

.bs-popover-bottom {
  margin-top: 1.2rem;
}

.popover {
  border-radius: 20px;
  background: #FFFFFF;
  max-width: 293px;
  border: none; 
}

.popover_content {
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  max-width: 293px;
  display: none;
}

.popover_content-text {
  padding: 48px 25px 28px;
}

.popover_content-text h4 {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

.popover_content-text p {
  font-size: 14px;
  color: #000000;
  margin-top: 15px;
}
/* MAIN_S01 STYLES*/
.main_s01 {
  padding-top: 0;
  background: url(../img/banner_images/bg.png) center/cover;
  background-color: #E5E5E5;
  padding-bottom: 87px;
}
/* MAIN_S01 NAV STYLES */
.place_container-link {
  display: flex;
  align-items: center;
}

.place_container-link p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.place_img-container {
  position: relative;
}

.place_img {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 6px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}

.place_img-container::after {
  content: url('../img/nav_images/place_icon.svg');
  display: block;
  padding-top: 1px;
  padding-left: 5px;
  position: absolute;
  top: 2px;
  right: 0px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: linear-gradient(180deg, #95C09A 0%, #618765 100%);
}

.main_s01-logo-bg {
  display: block;
  position: relative;
}

.main_s01-logo-bg::before {
  content: url('../img/nav_images/logo_border.svg');
  position: absolute;
  top: -5px;
  left: -5px;
}

.main_s01-logo-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main_s01-logo-container p {
  font-weight: 300;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}

.coop_link {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.number_container {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
}

.number_container-call {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.02em;
}

.number_container-call-order {
  font-weight: normal;
  font-size: 9px;
  line-height: 35px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);  
  color: #fff!important;
}

/* main_s01 info styles*/
.main_s01-info .section_title {
  font-size: 48px;
  letter-spacing: 0.06em;
  text-align: left;
  margin-top: 130px;
}

.main_s01-info h4 {
  font-weight: normal;
  font-size: 22px;
  line-height: 35px;
  margin: 35px 0;
}

.main_s01-info h4 span {
  color: #BDA988;
}

.main_s01-pluce {
  min-width: 220px;
  padding: 14px 0;
  display: flex;
  align-items: center;
}

.main_s01-pluce p {
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  margin-left: 12px;
}

.main_s01 .btn_container {
  margin-top: 53px;
}

.main_s01-partners {
  margin-top: 60px;
}

/* brick_types section STYLES */
.brick_types {
  background-color: #E5E5E5;
}

.brick_types .section_title {
  color: #25252B;
}

.brick_types .section_title span {
  color: #BDA988;
}

.brick_types-help {
  font-weight: 300;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 21px;
  margin-bottom: 35px;
}

.brick_types-help span {
  width: 17px;
  height: 17px;
  font-size: 11px;
  color: #7AA27E;
  display: inline-flex;
  justify-content: center;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.brick_types-btn {
  padding: 8px 25px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 999px;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.brick_types-btn:hover, .brick_types-btn:focus {
  background: linear-gradient(180deg, #95C09A 0%, #618765 100%);
  border: 1px solid #95C09A;

}

.brick_types-btn:hover p, .brick_types-btn:focus p{
  color: #fff;
}

.brick_types-btn:hover img, .brick_types-btn:focus img {
  display: none;
}

.brick_types-btn:hover .brick_types-img-hover, .brick_types-btn:focus .brick_types-img-hover {
  display: block;
}

.brick_types-btn p {
  color: #000000;
}

.brick_types-btn img {
  width: 44px;
  height: 46px;
  margin-right: 16px;
}

.brick_types-img-hover {
  display: none;
}

.brick_types-item {
  margin-top: 150px;
}

.brick_types-info-container h2 {
  font-family: Neumann;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.03em;
  color: #25252B;
  margin: 40px 0;
}

.brick_types-info-container p {
  font-weight: 300;
  font-size: 16px;
  color: #25252B;
}

.brick_types-img-container {
  position: relative;
}

.brick_types-img-container::before {
  content: url(../img/brick_types/icons/brick_types.png);
  width: 100px;
  height: 100px;
  position: absolute;
  left: calc(50% - 50px);
  top: -50px;
}
/* work_price STYLES */
.work_price {
  position: relative;
  background: url(../img/catalog_brick-light/bg.png) center/cover;
  background-color: #E5E5E5;
}

.work_price .section_title {
  color: #000;
}

.work_price::before {
  content: '';
  width: 860px;
  height: 582px;
  
  border-radius: 50%;
  opacity: 0.6;
  border: 2px dashed #E2CAA8;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  left: calc(50% - 860px);
  top: calc(50% - 582px / 2);
}

.work_price::after {
  content: url(../img/work_price/1.png);
  position: absolute;
  top: 20px;
  left: 0em;
  z-index: 2;
}

.work_price .section_title {
  margin-bottom: 59px;
}

.work_price .btn {
  padding: 15px 30px 10px;
}

.work_price .form_tel-input-container {
  margin: 26px auto;
}
/* catalog_brick section STYLES*/
.catalog_brick {
  background: url(../img/catalog_icons/bg.png) center/cover;
}

.catalog_brick .section_title {
  margin-bottom: 90px;
}

/* catalog_brcik SECTION STYLES */
.catalog_brick-slide {
  border-radius: 8px;
  background: #3B3A44;
}
/* margin between slides */
.catalog_brick-slide-container .slick-slide {
  margin: 0 27px;
}

.slick-dots {
  max-width: 300px;
  left: calc(50% - 150px);
}

.catalog_brick-slide-info-container {
  padding: 20px 30px 25px;
  color: #fff;
}

.catalog_brick-slide-info-container h2, .catalog_brick-slide-info-container h3 {
  font-family: Neumann;
  font-weight: normal;
  letter-spacing: 0.03em;
}

.catalog_brick-slide-info-container h2 {
  font-size: 24px;
}

.catalog_brick-slide-info-container h3 {
  font-size: 22px;
  color: #BDA988;
  margin-bottom: 26px;
}

.catalog_brick-slide-info-container p {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  margin: 20px 0;
}

.catalog_brick-slide-container .btn_small {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: transparent;
  padding: 18px 35px;
}

.catalog_brick-slide-container .btn_small:hover {
  background: linear-gradient(180deg, #95C09A 0%, #618765 100%);
  border: none;

}

.catalog_brick-full {
  padding-top: 200px;
  position: relative;
}

.catalog_brick-full::before {
  content: url(../img/catalog_icons/catalog.png);
  position: absolute;
  right: -30%;
  top: 10%;
}

.catalog_brick-full .section_title {
  font-size: 37px;
  margin-bottom: 50px;
}

.catalog_brick-full form {
  margin-top: 55px;
}

/* slick buttons styles */
.slick-arrow {
  width: 66px;
  height: 66px;
  cursor: pointer;
}

.slick-arrow:before {
  display: block;
  content: url(../img/slider_icons/slick_arrow.svg);
  padding: 21px 10px;
  width: 66px;
  height: 66px;
  background: linear-gradient(180deg, #E8C99B 0%, #C7A576 100%);
  border-radius: 50%;
  opacity: 1;
}

.catalog_brick .slick-next {
  right: -70px;
}

.catalog_brick .slick-prev {
  left: -70px;
}

.slick-prev:before {
  transform: rotate(180deg);
}

/* show_room  section STYLES */
.show_room {
  background-color: rgba(53, 53, 62, 1);
}

.show_room .container {
  position: relative;
  z-index: 3;
}

.show_room .section_title span {
  font-family: Neumann;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.show_room-pluce-container {
  display: flex;
  justify-content: start;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  padding: 18px 15px;
  margin-top: 70px;
}

.show_room-pluce-text-container {
  margin-left: 12px;
}

.show_room-pluce-text-container h6 {
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.show_room-pluce-text-container p {
  font-weight: normal;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.8);
}

/* show_room slider STYLES */
.show_room-slider-container {
  position: relative;
  margin-top: -400px;
}

.show_room-slider-container .container {
  max-width: unset;
}

.show_room-main-slide {
  position: relative;
}

.show_room-main-slide::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(to bottom,  rgba(53, 53, 62, 0.98) 15%, rgba(0,0,0,0) 70%,rgba(53, 53, 62,0.98) 85%);
}

.d {
  position: absolute;
  width: 100%;
  bottom: 100px;
  z-index: 2;
}

.show_room-all-slides .slick-next {
  right: -50px;
}

.show_room-all-slides .slick-prev {
  left: -50px;
}

.show-room-slide {
  text-align: center;
  padding: 8px 0;
}

.show-room-slide img {
  border: 1px solid #969696;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;
  width: 170px;
height: 86px;
}

.show_room-all-slides .slick-current img {
  box-shadow: 0px 4px 8px #C7A576;
}

.btn_border {
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 999px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 80px;
}

.btn_border .btn {
  padding: 20px 30px;
}

.btn_border p {
  font-weight: normal;
font-size: 14px;
color: #FFFFFF;
}
/* pluces section STYLES */
.pluces {
  padding-top: 120px;
  background: url(../img/pluces/bg.png) center/cover;
}

.pluce_container {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 12px 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 20px auto;
  margin-top: 41px;
}

.pluces .section_title {
  font-size: 38px;
}

.pluces .section_title span {
  color: #C7A576;
}

.pluce_container-text {
  margin-left: 25px;
}

.pluce_container-text h6 {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 7px;
}

.pluce_container-text p {
  font-weight: normal;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.8);
}

.not_pluces-section-title {
  margin-top: 200px;
  font-size: 40px;
}

/* events section STYLES*/
.events {
  padding: 0;
}

.event__img {
  position: relative;
  width: 50%;
}

.event__img:hover > .overlay {
  position: absolute;
  transition: 1s;
  top: 0;
  width:100%;
  height:100%;
  left: 0;
  background: rgba(37, 37, 44, 0.66);
  z-index: 100;
  display: block;
}

.event__img:hover > .events-text-block {
  display: flex;
}

.events-text-block {
  position: absolute;
  display: none;
  z-index: 200;
  bottom: 3rem;
  padding: 0px 10px;
}

.btn_plus {
  width: 80px;
  height: 83px;
  border: 2px solid #FFFFFF;
  border-radius: 80px;
  box-sizing: border-box;
  color: white!important;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_plus:hover {
  background-image: none;
  transition: 1s;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(255,255,255,1);
  box-shadow: 0px 0px 8px 0px rgba(255,255,255,1);
}

.event__card_title {
  font-family: Neumann;
  font-size: 30px;
  line-height: 50px;
  padding-left: 50px;
}

/* reviews STYLES */
.reviews {
  background: #fff;
  padding-bottom: 200px;
}

.reviews .section_title {
  color: #000;
  margin-bottom: 90px;
}

.nav-tabs {
  border-bottom: none;
}

.reviews_name-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.reviews .nav-tabs .nav-link {
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid #B9A585;
  padding: 0;
  padding-bottom: 15px;
  opacity: 0.4;
}

.reviews .nav-tabs .nav-link.active {
  opacity: 1;
}

.reviews_name h6 {
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.01em;
  color: #000000;
}

.reviews_name p {
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #000000;
  opacity: 0.3;
}

.reviews_slider {
  margin-top: 70px;
  width: 1450px;
}

.reviews_slide {
  border-radius: 15px;
  padding-right: 42px;
}

.reviews_slider .slick-prev {
  top: 320px;
  left: 0;
}

.reviews_slider .slick-next {
  top: 320px;
  left: 90px;
}

.reviews_slider .slick-disabled:before {
  background: #F5F5F5;
  border: 0.5px solid rgba(244, 244, 244, 0.86);
  opacity: 1;
  content: url(../img/slider_icons/slick_arrow-grey.svg);
  transform: none;
}

.reviews_slider .slick-next.slick-disabled:before {
  transform: rotate(180deg);
}

/* additional section STYLES */
.additional {
  padding-top: 129px;
  padding-bottom: 109px;
  background: url(../img/additional/bg.png) center/cover;
  background-color: rgba(248, 244, 239, 1);
}

.additional h3 {
  font-family: Neumann;
  font-weight: normal;
  font-size: 30px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.additional_container {
  position: relative;
  overflow: hidden;
  padding: 56px 35px 62px 39px;
  border-radius: 15px;
  background: linear-gradient(89.09deg, #43424B 0.39%, #2F2E37 98.32%);
}

.additional_sign-up-container .btn {
  margin-top: 56px;
}

.additional_sign-up-container::before {
  content: url(../img/additional/1.png);
  position: absolute;
  right: -113px;
  bottom: -70px;
  transform: scale(0.6);
}

.additional_instagram-container {
  padding-bottom: 39px;
}

.additional_instagram-container a {
  font-family: Neumann;
  font-weight: normal;
  display: block;
  font-size: 35px;
  color: #D2B68E;
  margin-top: 32px;
  margin-bottom: 9px;
  position: relative;
  z-index: 9;
}

.additional_instagram-container span {
  display: block;
  width: 73px;
  height: 1px;
  background-color: #CECECE;
}

.additional_instagram-container p {
  font-weight: normal;
  font-size: 20px;
  color: #FFFFFF;
  opacity: 0.4;
  margin-top: 6px;
}

.additional_instagram-container::before {
  content: url(../img/additional/2.png);
  position: absolute;
  right: -15px;
  bottom: -15px;
  transform: scale(0.95);
}

/* work_stages section STYLES */
.work_stages {
  background: url(../img/work_stages/bg.png) center/cover;
}

.work_stages .section_title {
  margin-bottom: 101px;
}

.work_stages-container {
  padding: 0 32px;
  background: rgba(46, 46, 51, 1);
  border-radius: 6px;
}

.work_stages-navs {
  padding: 35px 65px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  overflow-x: auto;
}

.work_stages-navs .nav-tabs {
  flex-wrap: nowrap;
}

.work_stages-navs .nav-item {
  padding-left: 10px;
  padding-right: 10px;

}

.work_stages-container .nav-link {
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.5);
  padding: 0;
  border: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.work_stages-container .nav-tabs .nav-link.active {
  color: #fff;
  border: none;
  border-bottom: 1px solid #D6B988;
  background: transparent;
  opacity: 1;
}

.work_stages-slider {
  padding: 50px 0;
}

.work_stages-content h3 {
  font-family: Neumann;
  font-weight: normal;
  font-size: 35px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.work-stages-content-plus {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 25px 0;
}

.work-stages-content-fact {
  margin-top: 60px;
}

.work-stages-content-fact h4 {
  font-family: Neumann;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: #B9A585;
  margin-bottom: 17px;
}

.work-stages-content-fact p {
  font-size: 16px;
color: #FFFFFF;
opacity: 0.4;
}

.work_stages-content .col-lg-8 {
  position: static;
}

.work_stages-container {
  position: relative;
}

#deadlines::before {
  content: url(../img/work_stages/slide1/1.png);
  position: absolute;
  bottom: 0;
  right: 0;
}

/* services section STYLES */
.services {
  background-image: url(../img/services/bg1.png);
  padding-bottom: 178px;
}

.services_tabs-container  {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 90px;
  overflow-x: auto;
  flex-wrap: nowrap;
}

.services_tabs-container .nav-item {
  margin-bottom: 0;
}

.services_tabs-container .betweener {
  width: 7%;
  min-width: 53px;
  border-bottom: 1px dashed #8c8b90;
}

.services_tabs-container .nav-link {
  border: 1px solid #8c8b90;
  border-radius: 99px;
  padding: 12px 0;
  padding-left: 16px;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 217px;
  font-weight: normal;
  font-size: 16px;
  color: #FFFFFF;
  opacity: 0.5;
}

.services_tabs-container .nav-link span {
  border: 1px solid #8c8b90;
  background-color: transparent;
  border-radius: 50%;
  padding: 6px 14px;
  margin-right: 10px;
  color: #8c8b90;
}

.services_tabs-container .nav-link:hover {
  opacity: 0.8;
  -webkit-transition: all 0.7s;
	transition: all 0.7s;
}

.services_tabs-container .nav-link:hover span {
  color: #dee2e6;
  border-color: #dee2e6;
}

.services_tabs-container .nav-link.active {
  background: linear-gradient(180deg, #95C09A 0%, #618765 100%);
  border-radius: 99px;
  border: 1px solid #618765;
  color: #fff;
  opacity: 1;
}

.services_tabs-container .nav-link.active span {
  border: 1px solid rgba(255, 255, 255, 1);
  color: #fff;
}

.services_content {
  padding-top: 140px;
  position: relative;
}

.services_content h2 {
  font-family: Neumann;
  font-weight: normal;
  font-size: 40px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.services_content p {
  font-weight: 300;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 45px;
}

.services_content h6 {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.services_content p, .services_content h6 {
  max-width: 340px;
}

.services_content img {
  position: absolute;
}

/* team section STYLES */
.team {
  background: white;
  padding-bottom: 0;
}

.team .section_title {
  color: #000;
}

.team_img-container {
  position: relative;
  width: 1425px;
  margin: 0 auto;
}

.team_plus {
  position: absolute;
  bottom: 0;
}

/* free_consult section STYLES */
.free_consult {
  background: url(../img/consultation/bg.png) center/cover;
  position: relative;
  overflow: hidden;
}

.free_consult::after{
  content: url(../img/consultation/elena.png);
  position: absolute;
  bottom: -6px;
  left: 370px;
}

.free_consult h6 {
  font-weight: normal;
  font-size: 20px;
  color: #FFFFFF;
  margin: 30px 0;
}

.free_consult .btn_border {
  margin-top: 100px;
  margin-bottom: 157px;
  max-width: 520px;
}

.free_consult .btn_border .btn {
  padding: 20px 15px;
}


/* not stone section STYLES */
.not_stone {
  background: #fff;
}

.not_stone-slider {
  display: none;
}

.not_stone .section_title {
  color: #000;
  margin-bottom: 88px;
}

.not_stone .col-lg-4 {
  margin-bottom: 40px;
  padding: 0 35px;
}

.not_stone-container {
  background: #FBF9F7;
  border-radius: 15px;
  padding: 47px 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not_stone-container p {
  font-family: Neumann;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
  margin-top: 30px;
}

/* catalog_brick-light section STYLES */
.catalog_brick-light {
  background: url(../img/catalog_brick-light/bg.png) center/cover;
  background-color: #fff;
  position: relative;
  padding-top: 102px;
  padding-bottom: 102px;
}

.catalog_brick-light::before {
  content: url(../img/catalog_brick-light/1.png);
  position: absolute;
  left: 120px;
  top: 35px;
}

.catalog_brick-light .section_title {
  color: #000;
  margin-bottom: 60px;
}

/* take_kp section styles */
.take_kp {
  background: url(../img/take_kp/bg.png) center/cover;
  padding: 115px 0;
}

.take_kp h5 {
  margin: 52px 0 70px;
  font-weight: 500;
  font-size: 18px;
}

.take_kp p {
  font-weight: 500;
  font-size: 18px;
  margin-top: 30px;
  text-align: center;
  color: #FFFFFF;
}

.take_kp .btn {
  margin-top: 70px;
}

/* footer STYLES */
footer {
  background: #25252C;
  padding-top: 100px;
  padding-bottom: 40px;
}

.footer_contact {
  margin-top: 60px;
  margin-bottom: 35px;
}

.footer_contact-container {
  border: 1px solid rgba(131, 131, 131, 0.21);
  border-radius: 15px;
  padding: 17px 20px 10px;
}

.footer_contact-title-container {
  display: flex;
  justify-content: start;
  align-items: center;
}

.footer_contact-title-container h4 {
  font-weight: 500;
  font-size: 20px;
  margin-left: 15px;
}

.footer_contact-text-container {
  margin-left: 30px;
}
 
.footer_contact-text-container p {
  font-weight: 300;
  font-size: 14px;
  opacity: 0.5;
}

.footer_contact-text-container p:nth-child(1) {
  opacity: 1;
  margin-top: 21px;
  margin-bottom: 9px;
}

.footer_slide-img-container {
  position: relative;
}

.footer_slide-img-container:before {
  content: "Шаг 1";
  background: #2F2E37;
  border-radius: 100px;
  padding: 14px 26px;
  color: #fff;
  position: absolute;
  bottom: -25px;
  left: calc(50% - 45px);
}

.footer_slide h6 {
  font-weight: 500;
  font-size: 18px;
  line-height: 14px;
  margin-top: 40px;
}

.footer_slide hr {
  opacity: 0.1;
  border: 1px solid #FFFFFF;
  margin: 20px 0;
}

.footer_slide p {
  font-weight: 300;
  font-size: 14px;
  color: #FFFFFF;
}

.footer_slider .slick-arrow {
  width: 41px;
  height: 41px;
}

.footer_slider .slick-arrow:before {
  width: 41px;
  height: 41px;
  padding: 8px 6px;
}

.footer_slider .slick-next {
  right: 0px;
  top: 295px;
}

.footer_slider .slick-prev {
  top: 295px;
  left: 350px;
  z-index: 4;
}

.footer_slider .slick-disabled:before {
  background: transparent;
  border: 0.5px solid rgba(244, 244, 244, 0.37);
}

.footer_bot {
  margin-top: 110px;
}

.footer_bot p {
  font-weight: normal;
font-size: 11px;
color: #828286;
}

.footer_bot p span {
  margin-left: 50px;
}

/* MODAL STYLES */
.modal-content {
  background-color: transparent;
  border: none;
}

.modal .btn-primary {
  box-shadow: none;
}

.modal-body {
  background: #FFFFFF;
  border-radius: 20px;
  padding: 64px 72px;
  overflow: hidden;
  position: relative;
}

.modal_consultant-container  .modal-body::before {
  content: '';
  position: absolute;
  width: 648px;
  height: 648px;
  background: linear-gradient(226.74deg, #43424B 37.23%, #63626D 83.74%);
  border-radius: 50%;
  bottom: -27%;
  left: -27%;
}

.modal_consultant-container {
  position: relative;
}

.modal_consultant {
  position: absolute;
  bottom: 0;
  left: 10%;
  z-index: 2;
}

.modal_book-container .modal-body::before {
  content: '';
  position: absolute;
  width: 648px;
  height: 648px;
  background: linear-gradient(226.74deg, #43424B 37.23%, #63626D 83.74%);
  border-radius: 50%;
  top: -27%;
  right: -27%;
}

.modal_book-container {
  position: relative;
}

.modal_book {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  right: -10%;
  top: 2%;
}

.modal_book::before {
  content: url(../img/modals/books/download_pdf.png);
  position: absolute;
  z-index: 3;
}

.modal .close span {
  color: #fff;
  width: 61px;
  height: 61px;
  border: 1px solid rgba(255, 255, 255, 0.31);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 22px;
  text-shadow: none;
}

.modal .close {
  margin-bottom: 24px;
  position: relative;
  z-index: 9;
}

.modal .close:hover, .close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover, .modal .close {
  opacity: 1;
}

.modal .close:hover span {
  transition: 1s;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 8px 0px rgba(255,255,255,1);
}

.modal_title {
  font-family: Neumann;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  color: #000000;
}

.modal_pluce-container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 50px 0;
}

.modal_pluce-container p {
  font-size: 14px;
  line-height: 23px;
  color: #000000;
  font-weight: normal;
}

.modal .form_social label {
  width: 130px;
}

.modal_pluce-container p span {
  font-weight: bold;
}

.modal .form_tel-input-container {
  margin: 20px 0;
}

.modal_pluces-border {
  padding: 44px 33px 44px 10px;
  position: relative;
}

.modal_pluces-border::before {
  content: '';
  width: 499px;
  height: 240px;
  opacity: 0.1;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
  position: absolute;
  left: -24%;
  top: 0;
}

.modal_pluces-border h4 {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  margin-bottom: 44px;
}

.modal_pluces-border p {
  margin-top: 12px;
  font-weight: normal;
  font-size: 12px;
  color: #000000;
}

.modal .time_choise .form_accept-container {
  display: inline-flex;
  justify-content: start;
  margin-right: 10px;
}

.modal .time_choise .form_accept-container p {
  margin-left: 6px;
}

.time_choise-input {
  display: none;
  margin-bottom: 20px;
  -webkit-transition:all ease-in-out 0.5s;
  transition: all 2s linear;
}


#time_choised:checked .time_choise-input {
  display: block;
}

.time_choise .form_accept-container {
  padding-top: 0;
}

.time_choise {
  margin-bottom: 20px;
}

.time_choise .form_accept-container {
  margin-bottom: 0;
}

.time_choise-input .tel_input {
  padding: 15px 27px 14px;
  font-size: 12px;
}

.modal_case-title {
  font-weight: 500;
font-size: 18px;
color: #C7A576;
}

.modal_case-title + .modal_title {
  margin-top: 25px;
  margin-bottom: 52px;
}

.questions_card {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 27px 12px;
  cursor: pointer;
}

.questions_card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questions_card h6 {
  color: #000000;
  font-weight: normal;
  font-size: 17px;
}

.questions_card-text {
  display: none;
  margin-top: 25px;
}

.questions_card-text p {
  color: #000000;
  font-weight: 300;
  font-size: 14px;
}

.material_container {
  display: flex;
  justify-content: start;
  align-items: center;
}

.material_container img {
  border-radius: 4px;
  width: 102px;
  height: 102px;
}

.material_info {
  margin-left: 33px;
}

.material_info h5 {
  font-family: Neumann;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #000000;
  margin-bottom: 15px;
}

.material_info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.material_info-container h6 {
  font-family: Neumann;
  font-weight: normal;
  font-size: 16px;
  padding: 10px 20px;
  letter-spacing: 0.03em;
  color: #BDA988;
  border: 1px solid rgba(59, 59, 65, 0.18);
  border-radius: 100px;
}

.material_container p {
  font-weight: normal;
  font-size: 13px;
  color: #000000;
  opacity: 0.4;
  margin-left: 18px;
}

.question_price {
  margin-top: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question_price span {
  height: 55px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.question_price-container p {
  font-weight: normal;
  font-size: 15px;
  color: #000000;
  margin-bottom: 16px;
}

.question_price-container h4 {
  font-weight: bold;
  font-size: 25px;
  color: #2A2A32; 
}

.modal_slider {
  width: 80%;
  margin-left: auto;
  position: relative;
}

.modal_slider .slick-arrow {
  z-index: 9;
}

.modal_slider .slick-next {
  right: -40px;
}

.modal_slider .slick-arrow::before {
  width: 50px;
  height: 50px;
  padding: 12px 10px;
}

.modal_main-slide img {
  border-radius: 15px;
}

.modal_cases-slides {
  width: 90%;
  margin: 0 auto;
  margin-top: -30px;
}

.modal_cases-slide {
  padding: 0 10px;
  cursor: pointer;
}

.modal_cases-slides img {
  border: 1px solid #969696;
  border-radius: 10px;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}

.modal_cases-slides .slick-current img {
  box-shadow: 0px 4px 8px #C7A576;
}

/* media STYLES */
@media screen and (max-width: 1830px) {
  .work_price::after, .catalog_brick-light::before, .work_price::before {
    transform: scale(0.8);
  }

  .catalog_brick-full::before {
    transform: scale(0.8);
    right: -22%;
  }

  .reviews_slider {
    width: 1300px;
  }

  .show_room-slider-container {
    margin-top: -100px;
  }

  .free_consult::after {
    left: 150px;
  }
}

@media screen and (max-width: 1500px) {
  .main_s01-info .section_title {
    font-size: 42px;
    margin-top: 80px;
  }

  .main_s01-info h4 {
    font-size: 20px;
    margin: 28px 0;
  }

  .btn {
    padding: 27px 27px 22px;
    font-size: 13px;
  }

  .btn_small {
    padding: 15px 30px;
  }

  .section_title {
    font-size: 36px;
    line-height: 60px;
  }

  .work_price::after {
    left: -8%;
  }

  .catalog_brick .container:first-child {
    max-width: 1040px;
  }

  .catalog_brick .section_title {
    margin-bottom: 65px;
  }

  .catalog_brick-full {
    padding-top: 120px;
  }

  .catalog_brick-full::before {
    transform: scale(0.65);
    right: -17%;
  }

  .catalog_brick .btn {
    padding: 18px 22px 16px;
  }

  .show_room {
    padding: 70px 0;
  }

  .show_room-pluce-container {
    margin-top: 30px;
  }

  .d {
    bottom: 0;
  }

  .btn_border {
    margin-top: 30px;
  }

  .btn_border .btn {
    padding: 20px 15px;
  }

  .event__card_title {
    font-size: 28px;
  }


  .events_pluce-container  {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .team_img-container {
    width: 1200px;
  }

  .reviews {
    padding-bottom: 180px;
  }

  .reviews_slider {
    margin-top: 50px;
    width: auto;
  }

  .reviews_slider .slick-prev, .reviews_slider .slick-next {
    top: 260px;
  }

  .reviews_slide {
    padding-left: 2px;
  }

  .free_consult {
    padding-bottom: 0;
  }

  .free_consult::after {
    transform: scale(0.8);
    bottom: -90px;
  }

  .free_consult .btn_border {
    margin-top: 70px;
    margin-bottom: 110px;
    position: relative;
    z-index: 2;
  }

  .not_stone .section_title {
    margin-bottom: 60px;
  }

  .catalog_brick-light, .take_kp, .additional {
    padding: 82px 0;
  }

  .catalog_brick-light::before {
    top: 0;
    left: 30px;
  }

  .work_stages .section_title {
    margin-bottom: 70px;
  }

  .services_tabs-container {
    margin-top: 65px;
  }
}

@media screen and (max-width: 1200px) {
  section {
    padding: 65px 0;
  }

  form fieldset {
    padding: 20px 30px;
  }

  .form_title {
    font-size: 19px;
    margin-bottom: 15px;
  }

  form hr {
    margin-bottom: 15px;
  }

  .work_price .form_tel-input-container {
    margin: 20px auto;
  }

  .form_accept-container {
    justify-content: center;
  }

  .form_accept-container p {
    margin-left: 10px;
  }

  .section_title {
    font-size: 36px;
    line-height: 50px;
  }

  .btn {
    padding: 25px 24px 20px;
  }

  .btn-primary {
    box-shadow: 0px 3px 0px #557458;
  }

  .place_img {
    width: 60px;
    height: 60px;
    padding: 3px;
  }

  .place_img-container::after {
    width: 19px;
    height: 19px;
    padding-top: 0;
    padding-left: 3.5px;
    padding-bottom: 2px;
  }

  .place_container-link p {
    font-size: 12px;
  }

  .main_s01-logo-bg::before {
    content: '';
  }

  .main_s01-logo-container p {
    display: none;
  }

  .main_s01-pluce {
    min-width: auto;
  }

  .number_container-call {
    font-size: 16px;
    line-height: unset;
  }

  .main_s01-info .section_title {
    font-size: 36px;
  }

  .main_s01-info h4 {
    font-size: 18px;
    margin: 16px 0;
  }

  .main_s01-pluce {
    padding: 12px 0;
  }

  .main_s01 .btn_container {
    margin-top: 40px;
  }

  .main_s01-partners {
    margin-top: 45px;
  }

  .work_price::before {
    display: none;
  }

  .work_price::after {
    transform: scale(0.6);
    left: -15%;
  }

  .catalog_brick-slide-container .slick-dots {
    bottom: -45px;
    z-index: 9;
  }

  .catalog_brick-slide-container .slick-dots li button:before {
    font-size: 10px;
  }

  .catalog_brick-slide-info-container {
    padding: 15px 25px 20px;
  }

  .catalog_brick-slide-info-container h2 {
    font-size: 22px;
  }

  .catalog_brick-slide-info-container p {
    margin: 12px 0;
  }

  .catalog_brick-slide-info-container h3 {
    font-size: 20px;
    margin-bottom: 22px;
  }

  .catalog_brick .btn {
    padding: 16px 18px 14px;
    font-size: 12px;
  }

  .catalog_brick .slick-arrow::before {
    display: none;
  }

  .catalog_brick-full {
    padding-top: 90px;
  }

  .catalog_brick .section_title {
    margin-bottom: 35px;
  }

  .catalog_brick-full-pluce-text {
    font-size: 13px;
  }

  .catalog_brick-full form {
    margin-top: 45px;
  }

  .show_room-pluce-container {
    padding: 13px 11px;
  }

  .show_room-pluce-text-container h6 {
    font-size: 14px;
    margin-bottom: 6px;
  }

  .show_room-pluce-text-container p {
    font-size: 11px;
  }

  .btn_border p {
    padding-right: 10px;
  }

  .pluce_container {
    padding: 10px 20px;
    margin: 15px auto;
  }

  .not_pluces-section-title {
    margin-top: 120px;
  }

  .event__card_title {
    font-size: 18px;
    line-height: 30px;
    padding-left: 20px;
  }

  .btn_plus {
    width: 50px;
    height: 53px;
    font-size: 2.2rem;
  }

  .reviews_slider .slick-prev, .reviews_slider .slick-next {
    top: 200px;
  }

  .reviews {
    padding-bottom: 100px;
  }

  .reviews .section_title {
    margin-bottom: 50px;
  }

  .additional h3 {
    font-size: 24px;
  }

  .additional_instagram-container a {
    font-size: 26px;
  }

  .additional_sign-up-container .btn {
    margin-top: 30px;
  }

  .additional_sign-up-container::before {
    transform: scale(0.55);
    right: -127px;
    bottom: -78px;
  }

  .additional_instagram-container::before {
    right: -87px;
    bottom: -60px;
    transform: scale(0.65); 
  }

  .services_tabs-container {
    justify-content: start;
    padding-bottom: 10px;
  }

  .services_content img {
    display: none;
  }

  .team_img-container {
    width: 992px;
  }

  .free_consult::after {
    left: 50px;
  }

  .catalog_brick-light .btn_small {
    padding: 15px 30px;
    margin-top: 20px;
  }

  .catalog_brick-light::before {
    transform: scale(0.6);
    left: -100px;
  }

  .take_kp h5 {
    margin: 32px 0 50px;
  }

  .take_kp p {
    font-size: 16px;
    margin-top: 20px;
  }

  .take_kp .btn {
    margin-top: 55px;
  }

  footer {
    padding-top: 70px;
    padding-bottom: 20px;
  }

  .footer_contact-title-container h4 {
    font-size: 16px;
  }

  .footer_contact-text-container p:nth-child(1) {
    margin-top: 15px;
    margin-bottom: 7px;
  }

  .footer_contact-text-container p {
    font-size: 12px;
  }

  .footer_slider .slick-next, .footer_slider .slick-prev {
    top: 255px;
  }

  .footer_slider .slick-prev {
    left: 280px;
  }

  .footer_bot {
    margin-top: 40px;
  }

  .footer_bot p span {
    margin-left: 30px;
  }

  .modal_pluces-border h4 {
    margin-bottom: 20px;
  }

  .modal_pluces-border::before {
    width: 310px;
    height: 310px;
    left: -33%;
  }

  .modal_book img {
    transform: scale(0.8);
  }

  .modal_case-title + .modal_title {
    font-size: 28px;
  }

  .modal_cases-slides img {
    height: 45px;
  }

  .modal_cases-slide {
    padding: 0 2px;
  }

}


@media screen and (max-width: 992px) {
  section, .services {
    padding: 50px 0;
  }

  .number_container {
    justify-content: end;
  }

  .main_s01-info .section_title {
    margin-top: 50px;
  }

  .main_s01-info h4 {
    line-height: unset;
  }

  .main_s01-pluce {
    justify-content: start;
    padding: 16px 0;
  }

  .burger-wrapper div {
    left: unset;
    right: 0;
  }

  .brick_types br {
    display: none;
  }

  .brick_types-item {
    margin-top: 90px;
    text-align: center;
  }

  .brick_types-info-container h2 {
    margin: 30px 0 15px;
  }

  .brick_types-info-container img {
    display: none;
  }

  .brick_types-img-container {
    margin-top: 70px;
  }

  .catalog_brick-slide-info-container {
    padding: 10px 20px 15px;
  }

  .form_social label {
    width: 130px;
    padding: 12px 9px!important;
  }

  .catalog_brick .tel_input, .catalog_brick-light .tel_input {
    padding: 15px 30px 15px 65px;
  }

  .catalog_brick .form_tel-input-container::after, .catalog_brick-light .form_tel-input-container::after {
    top: 10px;
  }

  form .btn {
    padding: 15px 30px 10px!important;
  }

  .form_tel-input-container {
    margin: 20px 0;
  }

  .show_room-slider-container .container {
    max-width: 720px;
  }

  .reviews_slider .slick-prev, .reviews_slider .slick-next {
    top: 150px;
  }

  #deadlines::before {
    content: '';
  }

  .work_stages-navs {
    padding: 30px 45px;
  }

  .work_stages-slider {
    padding: 30px 0;
  }

  .work_stages-content h3 {
    font-size: 32px;
  }

  .work-stages-content-fact {
    margin-top: 30px;
  }

  .reviews_slider .slick-next {
    left: 70px;
  }

  .reviews_slider .slick-arrow::before {
    transform: scale(0.8);
  }

  .team_img-container {
    width: 768px;
  }

  .team_plus {
    width: 70px;
    height: 70px;
  }

  .free_consult::after {
    content: '';
  }

  .free_consult {
    background: rgba(53, 53, 62, 0.98);
  }

  .catalog_brick-light .btn_small {
    margin-top: 0;
  }

  .take_kp br {
    display: none;
  }

  .footer_contact {
    margin-top: 30px;
    margin-bottom: 0;
  }

  .footer_map {
    margin-top: 30px;
  }

  .footer_slider {
    margin-top: 30px;
  }

  .footer_slide-img-container img {
    margin: 0 auto;
  }

  .footer_slider .slick-next, .footer_slider .slick-prev {
    top: 310px;
  }

  .footer_slider .slick-prev {
    left: 85%;
  }

  .footer_bot p span {
    margin-left: 0;
  }

  .modal-body {
    padding: 32px 34px;
  }

  .modal form {
    margin-left: auto;
    margin-right: auto;
  }

  .modal_title {
    margin-top: 190px;
  }

  .modal_consultant-container .modal_title {
    margin-top: 120px;
  }

  .modal_book {
    transform: scale(0.6);
    top: -5%;
    right: -18%;
  }

  .modal_book-container .modal-body::before {
    width: 710px;
    top: -35%;
    right: -28%;
  } 

  .modal_consultant-container .modal-body::before {
    width: 710px;
    top: -51%;
    left: -15%;
  }

  .modal_pluces-border::before {
    display: none;
  }

  .modal_consultant {
    display: none;
  }

  .modal_slider {
    width: 100%;
    margin: auto;
  }

  .modal_case .modal-body {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  } 

  .modal_cases-slides img {
    height: 55px;
  }

  .modal_slider .slick-next {
    right: -10px;
  }

  .modal_slider .slick-prev {
    left: 7px;
  }

}

@media screen and (max-width: 767px) {
  .catalog_brick-light::before, .catalog_brick-full::before, .work_price::after {
    display: none;
  }

  .catalog_brick {
    overflow: hidden;
  }

  .team {
    display: none;
  }

  .reviews_slide {
    padding-right: 0;
  }

  .reviews_slide img {
    margin: 0 auto;
  }

  .reviews {
    padding-bottom: 50px;
  }

  .work_stages .section_title br {
    display: none;
  }

  .work_stages-navs {
    padding: 20px 25px;
    justify-content: space-around;
  }

  .work_stages-container .nav-link {
    margin-top: 10px;
  }

  .work-stages-content-fact {
    margin-top: 15px;
  }

  .event__img {
    position: relative;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .section_title {
    line-height: unset;
  }

  .show_room-slider-container {
    display: none;
  }

  .number_container-call-order {
    line-height: unset;
  }

  .footer_slider .slick-prev {
    left: 78%;
  }

  .map {
    height: 100vh;
  }

  .not_stone .row {
    display: none;
  }

  .not_stone-slider {
    display: block;
    padding-bottom: 50px;
  }

  .not_stone-slider .slick-slide {
    padding: 0 20px;
  }

  .not_stone-slider .slick-slide img {
    margin-left: auto;
    margin-right: auto;
  }

  .not_stone .slick-arrow {
    top: 400px;
  }

  .not_stone .slick-next {
    right: calc(50% - 76px);
  }

  .not_stone .slick-prev {
    left: calc(50% - 76px);
  }
}

@media screen and (max-width: 475px) {
  .form_tel-input-container::after {
    top: 10px;
    left: 13px;
  }

  .checkmark {
    transform: scale(0.8);
  }

  form fieldset, .catalog_brick-light fieldset, .catalog_brick fieldset {
    padding: 15px 20px;
  }

  .form_accept-container p, .catalog_brick-light .form_accept-container p, .catalog_brick  .form_accept-container p {
    font-size: 8px;
    margin-left: 0;
  }

  .catalog_brick .tel_input, .catalog_brick-light .tel_input, .tel_input {
    padding-left: 50px;
    padding-right: 10px;
  }

  .main_s01-logo-container img {
    max-height: 28px;
  }

  .main_s01 .btn-primary {
    max-width: 210px;
    padding: 18px 15px 13px;
  }

  .btn_container img {
    max-height: 70px;
  }

  .number_container-call {
    font-size: 11px;
  }

  .burger-wrapper div {
    height: 1px;
  }

  .burger-1 {
    width: 12px;
  }

  .burger-2 {
    width: 18px;
  }

  .burger-3 {
    width: 23px;
  }

  form {
    width: auto;
  } 

  .section_title, .main_s01-info .section_title, .catalog_brick .section_title, .pluces .section_title, .modal_case-title + .modal_title {
    font-size: 25px;
  }

  .main_s01-info h4 {
    font-size: 14px;
  }

  .main_s01-pluce {
    display: block;
    padding: 16px 4px 16px 0;
  }

  .main_s01-pluce p {
    margin-left: 0;
    margin-top: 5px;
  }

  .main_s01-partners {
    margin-top: 25px;
  }

  .brick_types-info-container h2 {
    font-size: 26px;
  }

  .show_room .section_title br {
    display: none;
  }

  .pluce_container {
    align-items: flex-start;
  }

  .pluce_container-text h6 {
    font-size: 14px;
  }

  .pluce_container-text p {
    font-size: 12px;
  }

  .additional_container {
    padding: 20px 15px;
    padding-left: 25px;
  }

  .additional h3 {
    font-size: 20px;
  }

  .additional_sign-up-container .btn {
    padding: 18px 18px 16px;
  }

  .additional_instagram-container a {
    font-size: 22px;
  }

  .additional_instagram-container p {
    font-size: 16px;
  }

  .additional_container {
    padding-bottom: 100px;
  }

  .additional_sign-up-container::before {
    transform: scale(0.4);
    bottom: -42%;
    right: -170px;
  }

  .additional_instagram-container::before {
    transform: scale(0.6);
    right: -100px;
    bottom: -72px;
  }

  .work_stages-navs {
    padding: 10px 8px;
  }

  .work_stages-container {
    padding: 0 15px;
  }

  .work-stages-content-plus img {
    height: 45px;
    width: auto;
  }

  .work-stages-content-plus p {
    font-size: 12px;
  }

  .work-stages-content-plus p br {
    display: none;
  }

  .footer_contact-container {
    padding: 10px 12px 5px;
  }

  .footer_contact-title-container h4 {
    font-size: 14px;
  }

  .footer_slider .slick-next, .footer_slider .slick-prev {
    top: 265px;
  }

  .modal-body {
    padding: 22px 20px;
  }

  .modal_title {
    font-size: 22px;
    line-height: 34px;
  }

  .modal_pluce-container {
    margin: 30px 0;
  }

  .modal_pluce-container p {
    font-size: 12px;
    line-height: 18px;
  }

  .modal .form_social label {
    width: auto;
  }

  .modal .form_social-viber {
    order: -2;
  }

  .modal .form_social-phone {
    order: -1;
  }

  .modal_consultant-container .modal-body::before {
    top: -78%;
    left: -29%;
  }

  .modal_consultant-container .modal_title {
    margin-top: 80px;
  }

  .modal_consultant-container .modal-body {
    padding-bottom: 20px;
  }

  .modal_cases-slides img {
    height: 40px;
  }

  .modal_slider .slick-arrow::before {
    transform: scale(0.6);
  }

  .modal_slider .slick-next {
    right: -15px;
  }

  .modal_slider .slick-prev::before {
    transform: scale(0.6) rotate(180deg);
  }

  .modal_slider .slick-prev {
    left: -6px;
  }

  .modal_case-title + .modal_title {
    margin-bottom: 28px;
    font-size: 22px;
  }

  .material_container img {
    width: 88px;
    height: 88px;
  }

  .material_info {
    margin-left: 18px;
  }

  .material_info-container {
    flex-wrap: wrap;
  }

  .material_info-container h6 {
    font-size: 14px;
    padding: 5px 10px;
  }

  .material_container p {
    font-size: 12px;
    margin-top: 8px;
  }

  .question_price-container p {
    font-size: 12px;
    margin-bottom: 9px;
  }

  .question_price-container h4 {
    font-size: 18px;
  }

  .not_stone-slider .slick-slide {
    padding: 0 10px;
  }

  .not_stone-container {
    padding: 15px 14px;
    padding-bottom: 20px;
  }

  .not_stone-container p {
    font-size: 16px;
    margin-top: 10px;
  }

  .not_stone .slick-arrow {
    top: 91%;
    transform: scale(0.8);
    z-index: 9;
  }

  .not_stone .slick-next {
    right: calc(50% - 76px);
  }

  .not_stone .slick-prev {
    left: calc(50% - 76px);
  } 
  
}

@media screen and (max-width: 375px) {
  .form_social label, .work_price .form_social label {
    width: auto;
  }

  .form_social-viber {
    order: -2;
  }

  .form_social-phone {
    order: -1;
  }

  .footer_slider .slick-next, .footer_slider .slick-prev {
    top: 65%;
  }

  .footer_slider .slick-prev {
    left: 72%;
  }

  .footer_slider .slick-arrow::before {
    transform: scale(0.8);
  }

  .footer_slider .slick-prev::before {
    transform: scale(0.8) rotate(180deg);
  }

  .modal-body {
    padding: 0;
  }

  .modal_book-container .modal-body::before {
    top: -40%;
    left: -25%;
  }

  .modal_book {
    left: 10%;
  }

  .modal_book img {
    transform: scale(0.6);
  }

  .modal_book::before {
    transform: scale(0.7);
  }

  .additional_instagram-container::before {
    transform: scale(0.4);
    right: -150px;
    bottom: -100px;
  }

  .take_kp img {
    height: 60px;
    width: auto;
  }

  .take_kp p {
    font-size: 12px;
  }

}

@media (min-width: 1200px){
  .modal-lg {
      max-width: 965px;
  }
}