p, h1, h2, h3,
h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

body, html {
  background-color: #000000;
}

h1, h2, h3, h4, h5, h6, p, a {
  color: #fff;
  font-family: "Geometria";
  font-style: normal;
  font-weight: normal;
}

.noscroll {
  overflow-y: hidden;
}

a, a:active, a:visited {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
}

.burger-wrapper {
	position: relative;
	width: 28px;
	height: 14px;
  cursor: pointer;
}

.burger-1, .burger-2, .burger-3 {
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.burger-1 {
	position: absolute;
	top: 0;
	left: 0;

	width: 17px;
	height: 2px;

	background: #fff;
	border-radius: 50px;
}

.burger-2 {
	position: absolute;
	top: 6px;
	left: 0;

	width: 25.5px;
	height: 2px;


	background: #fff;
	border-radius: 50px;
}

.burger-3 {
	position: absolute;
	top: 12px;
	left: 0;

	width: 31px;
	height: 2px;

	background: #fff;
	border-radius: 50px;
}

/* main styles */
section {
  padding: 81px 0;
}

.section_title {
  font-family: Neumann;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 65px;
  letter-spacing: 0.03em;
}

.btn {
  padding: 25px 30px 20px;
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  border-radius: 100px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  color: #fff;
  border: none;
  background: linear-gradient(180deg, #95C09A 0%, #618765 100%);
}

.btn-primary {
  box-shadow: 0px 5px 0px #557458;
}

.btn_small {
  padding: 15px 30px;
  font-weight: 500;
  font-size: 14px;
}

/* form styles */
form {
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.07);
  color: #090909;
  padding: 12px;
  width: 390px;
  border-radius: 20px;
}

form fieldset {
  border: 1.5px solid #E2CAA8;
  border-radius: 20px;
  padding: 25px 40px;
}

.form_title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
  color: #090909;
}

form hr {
  margin: 0;
  margin-bottom: 20px;
}

.form_socials-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.form_social input {
  display: none;
} 

.form_social label {
  font-weight: normal;
  font-size: 12px;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  text-align: center;
  padding: 12px 9px;
  margin: 5px 0;
  cursor: pointer;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  color: #090909;
}

.work_price .form_social label {
  width: 130px;
}

.form_social label img {
  margin-right: 5px;
}

.form_social-hover-icon {
  display: none;
}

.form_social label:hover img {
  display: none;
}

.form_social label:hover .form_social-hover-icon {
  display: inline;
}

.form_social label:hover {
  color: #fff;
}

.form_social-viber label:hover {
  border: 1px solid #8E24AA;
  background-color: #8E24AA;
}

.form_social-telegram label:hover {
  border: 1px solid #039BE5;
  background-color: #039BE5;
}

.form_social-whatsapp label:hover {
  border: 1px solid #4CAF50;
  background-color: #4CAF50;
}

.form_social-phone label:hover {
  border: 1px solid #E2CAA8;
  background-color: #E2CAA8;
}

#tel_input {
  display: block;
  margin: auto;
  background: #F5F5F5;
  border: 1px solid rgba(179, 179, 179, 0.15);
  box-sizing: border-box;
  padding: 15px 30px 15px 65px;
  border-radius: 1000px;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.105em;
  color: #5f5e5e;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color :#ABABAB;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #ABABAB;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #ABABAB;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #ABABAB;
}

#tel_input:focus {
  outline: none;
}

.form_tel-input-container {
  position: relative;
}

.form_tel-input-container::after {
  display: block;
  position: absolute;
  top: 11px;
  left: 25px;
  content: url(../img/form_icons/tel_input.svg);
  padding: 4.5px 9.5px;
  background: #FFFFFF;
  border-radius: 50%;
}

/* styles for accept input */

.form_accept-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  cursor: pointer;
  font-weight: normal;
  font-size: 11px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.form_accept-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  display: block;
  position: relative;
  height: 19px;
  width: 19px;
  border: 1px solid #E5C883;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.form_accept-container:hover input ~ .checkmark {
  
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.form_accept-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.form_accept-container .checkmark:after {
  width: 15px;
  height: 15px;
  left: 1px;
  top: 1px;
  background-color: #E5C883;
  border-radius: 50%;
  position: relative;
}

.form_accept-container p {
  color: #090909;
}

.form_accept-container p span {
  color: #E5C883;
  border-bottom: 1px dashed #E5C883;
}
/* MAIN_S01 STYLES*/
.main_s01 {
  padding-top: 0;
}
/* MAIN_S01 NAV STYLES */
.place_container-link {
  display: flex;
  align-items: center;
}

.place_container-link p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.place_img-container {
  position: relative;
}

.place_img {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 6px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}

.place_img-container::after {
  content: url('../img/nav_images/place_icon.svg');
  display: block;
  padding-top: 1px;
  padding-left: 5px;
  position: absolute;
  top: 2px;
  right: 0px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: linear-gradient(180deg, #95C09A 0%, #618765 100%);
}

.main_s01-logo-bg {
  display: block;
  position: relative;
}

.main_s01-logo-bg::before {
  content: url('../img/nav_images/logo_border.svg');
  position: absolute;
  top: -5px;
  left: -5px;
}

.main_s01-logo-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main_s01-logo-container p {
  font-weight: 300;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}

.coop_link {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.number_container {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
}

.number_container-call {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.02em;
}

.number_container-call-order {
  font-weight: normal;
  font-size: 9px;
  line-height: 35px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);  
}

/* main_s01 info styles*/
.main_s01-info .section_title {
  font-size: 48px;
  line-height: 131.8%;
  letter-spacing: 0.06em;
  text-align: left;
}

.main_s01-info h4 {
  font-weight: normal;
  font-size: 22px;
  line-height: 35px;
}

.main_s01-info h4 span {
  color: #BDA988;
}

.main_s01-pluces-container {
  display: flex;
  justify-content: space-between;
}

.main_s01-pluce {
  min-width: 220px;
  padding: 14px 0;
  justify-content: space-around;
  align-items: center;
}

.main_s01-pluce p {
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
}

/* work_price STYLES */
.work_price {
  position: relative;
}

.work_price::before {
  content: '';
  width: 860px;
  height: 582px;
  
  border-radius: 50%;
  opacity: 0.6;
  border: 2px dashed #E2CAA8;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  left: calc(50% - 860px);
  top: calc(50% - 582px / 2);
}

.work_price::after {
  content: url(../img/work_price/1.png);
  position: absolute;
  top: 20px;
  left: 0em;
  z-index: 2;
}

.work_price .section_title {
  margin-bottom: 59px;
}

.work_price .btn {
  padding: 15px 30px 10px;
}

.work_price .form_tel-input-container {
  margin: 26px auto;
}

/* catalog_brcik SECTION STYLES */
.catalog_brick-slide {
  border-radius: 8px;
  background: #3B3A44;
}
/* margin between slides */
.slick-slide {
  margin: 0 27px;
}

.catalog_brick-slide-info-container {
  padding: 20px 30px 25px;
  color: #fff;
}

.catalog_brick-slide-info-container h2, .catalog_brick-slide-info-container h3 {
  font-family: Neumann;
  font-weight: normal;
  letter-spacing: 0.03em;
}

.catalog_brick-slide-info-container h2 {
  font-size: 24px;
}

.catalog_brick-slide-info-container h3 {
  font-size: 22px;
  color: #BDA988;
  margin-bottom: 26px;
}

.catalog_brick-slide-info-container p {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  margin: 20px 0;
}

.catalog_brick-slide-container .btn_small {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: transparent;
}

.catalog_brick-slide-container .slick-center .btn_small {
  background: linear-gradient(180deg, #95C09A 0%, #618765 100%);
  border: none;
}

/* slick buttons styles */
.catalog_brick .slick-arrow {
  width: 66px;
  height: 66px;
}

.catalog_brick .slick-arrow:before {
  display: block;
  content: url(../img/slider_icons/slick_arrow.svg);
  padding: 21px 10px;
  width: 66px;
  height: 66px;
  background: linear-gradient(180deg, #E8C99B 0%, #C7A576 100%);
  border-radius: 50%;
  opacity: 1;
}

.catalog_brick .slick-next {
  right: -70px;
}

.catalog_brick .slick-prev {
  left: -70px;
}

.catalog_brick .slick-prev:before {
  transform: rotate(180deg);

}